project/perldocjp-faq.dtd

<!ENTITY % Inline "a|em|strong">
<!ENTITY % a.content "(#PCDATA|em|strong)">
<!ENTITY % URI "CDATA">

<!ELEMENT faqlist (section)+>
<!ELEMENT section (title, faq?)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT faq (part)+>
<!ELEMENT part (question,answer)+>
<!ELEMENT question (#PCDATA)>
<!ELEMENT answer (#PCDATA| %Inline; )+>

<!ELEMENT a %a.content;>
<!ATTLIST a
  href        %URI;          #IMPLIED
>

<!ELEMENT em (#PCDATA)>
<!ELEMENT strong (#PCDATA)>

